@import './reset.scss';
@import './resetElement.scss';
@import './transition.scss';

// iconfont图标
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 设置公共class样式
.pagination {
  padding-top: 10px;
  text-align: center;
}
